body{
    background-color:#f5f5f5;
    margin-top: 84px;

}
.innerbodydiv{
	padding-left: 7%;
	padding-right: 7%;
}

/*nav{
	padding-left: 15%;
	padding-right: 15%;
}*/

.fLeft{
	diplay: block;
	float: left;
}

.fRight{
	display: block;
	float: right;
}

.cRight{
	display: block;
	clear: right;
}

.cLeft{
	display: block;
	clear: left;
}


/*REGISTRATION.HTML*/

.registerBox{
	margin-left: 35%;
	margin-top: 200px;
}