* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*{
  font-family: helvetica;
}

table, th, td{
 border: 1px solid black; 
 margin:auto
}

td{
  font-size: 10px
}

.submit{
  margin-top: 10px
}