{%  extends "base/headerOther.html"   %}
{% block content %}

<header >
<div class="jumbotron" style="background-color:#155ad1;color:#ffd633;">
		<div class="container" style = "text-align:center;">
			<h1	style = "text-align:center" >Our Mission</h1>
			<br></br>
		</div>
	</div>

</header>


<br></br>
<br></br>


<div class ="container" > 
	<div class="row">
	
		<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"> 
		</div>    
		<div class="well">	
			<h2 style="text-align: center"><strong>What's Pellio about?</strong></h2>
			<br></br>
			<p>Pellio is a positive psychology website that is aimed at helping college students learn how to deal with the mental load     that comes with moving on to a new part of life. We focus on showing you how you can make yourself happier on a daily basis :)
			</p>

		</div>    
	</div>    
</div>    

{% endblock %}
