<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page }}</title>
    <meta name="description" content="insertDescriptionHere">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist\css\font-awesome.min.css">

    {% load staticfiles %}
    <script src= {% static 'base/js/jquery-3.2.1.min.js' %} ></script>
    <!-- oh look its a style sheet!-->
    <link rel = "stylesheet" href = {% static 'base/css/styles.css' %}>
    <link rel = "stylesheet" href = {% static 'base/css/landing_page.css' %}>





</head>

<script>
    $(document).ready(function(){
        $('#demoBox').hide();
        $('#demo1q').hide();
        $('#demoVid').hide();
        $('#demo2q').hide();
        $('#demoReg').hide();
    });
</script>



	{% block content %}
	{% endblock %}


<footer>
	<P style="text-align:center;padding-top:300px;">
		<a href="{% url 'about' %}">About</a> | <a href="https://www.google.com">Random </a> | <a href="www.something.com">Something </a> <br>
		Copyright 2017 Some People
	</P>
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
</footer>


</html>


