{%  extends "base/headerOther.html" %}

{% block content %}
<div class="container mainBody">
    

    <div class="row">
        <div class = "col-lg-3 exercises">
            <div class="row">
                <h3>Exercises</h3>
                <div class="PANAS well">
                    <h4>PANAS</h4>
                    See how watching wholesome videos can help your state of mind.
                </div>
                <div class="Letter to Teacher well">
                    <h4>Letter to Teacher</h4>
                    Write a letter to help let go of the past.
                </div>
                <div class="Digital Decline well">
                    <h4>Digital Decline</h4>
                    Can avoiding technology help your health?
                </div>
                <div class="Ask for Help well">
                    <h4>Ask for Help</h4>
                    It's okay to ask for help, see how it can help you.
                </div>

            </div>
        </div>
        <div class="col-lg-9">
            <div class="row page-header">
                <h1 class="welcomeBox col-lg-10 col-lg-offset-1">Welcome back!</h1>
            </div>
            <div class="row">
                <div class = "recentActivityCol well col-lg-8 col-lg-offset-1">
                    <h4>Recent Activity</h4>
                    <div class="row">
                    <div class="col-lg-12 well">
                        test
                    </div>
                    <div class="col-lg-12 well">
                        test
                    </div>
                    <div class="col-lg-12 well">
                        test
                    </div>
                    <div class="col-lg-12 well">
                        test
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

{% endblock %}
