{%  extends "base/first_page.html"   %}

{% block content %}
<!-- navbar; for now we'll have the css be default-->
<nav class = "navbar navbar-inverse navbar-fixed-top" style = "font-color:red;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style = "padding-left:300px">PellioIcon
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="registration/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>

</nav>


<header>

</header>

<div class="container" style="margin-top:200px;">
    <div class="row">
        <div class = "col-lg-6">
			  {% load staticfiles %}
              <img src="{% static 'base/img/temp_image.jpeg' %}" class="img-rounded" alt="Cinque Terre" width="451.685393" height="300" align="middle">
        </div>
        <div class = "col-lg-6" style = "text-align:center;margin-bottom:50px;font-size:35px">
       Log into a New Perspective
            <br>
            <form action="/action_page.php">
                <input type="text" name="username" value="Username" style="margin:10px;"><br>
                <input type="text" name="password" value="Password" style="margin:10px;"><br>
                <input type="submit" value="LOG IN" style="margin:10px;">
            </form>
        </div>
    </div>
</div>

<P style="text-align:center;padding-top:300px;">
    <a href="{% url 'about' %}">About</a> | <a href="https://www.google.com">Random </a> | <a href="www.something.com">Something </a> <br>
    Copyright 2017 Some People
</P>
<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
