{%  extends "base/headerIndex.html" %}

{% block content %}


<div class="container" style="margin-top:200px;">
    <div class="row">
		
        <div class = "col-lg-6">
			  {% load staticfiles %}
              <img src="{% static 'base/img/temp_image.jpeg' %}" class="img-rounded" alt="Cinque Terre" width="451.685393" height="300" align="middle">
        </div>
        <div class = "col-lg-6" style = "text-align:center;margin-bottom:50px;font-size:35px">
       Log into a New Perspective
            <br>
            <form method="POST">
				{% csrf_token %}
                <input type="text" name="email" placeholder="email" style="margin:10px;">
                <input type="text" name="password" placeholder="Password" style="margin:10px;">
				<button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
