{%  extends "base/reg_page.html"   %}
{% block content %}
<body>

    <!-- navbar; for now we'll have the css be default-->
    <nav class = "navbar navbar-inverse navbar-fixed-top" style = "font-color:red;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pellio</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="landing_page.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Experiments</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="resistration.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>

    </nav>



	<header>
		<div class="jumbotron" style="background-color:#155ad1;color:#ffd633;">
			<div class="container" style = "text-align:center;">
				<h1>Register</h1>
			</div>
		</div>
	</header>
	<div class="container">
	    <form class="form-horizontal">
	        <div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-4">
					<input type="firstName" class="form-control" id="firstName" placeholder="First">
					<input type="lastName" class="form-control" id="lastName" placeholder="Last">
				</div>
   			 </div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Username:</label>
				<div class="col-sm-4">
					<input type="username" class="form-control" id="user" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
			  	<label class="control-label col-sm-2" for="email">Email:</label>
			  	<div class="col-sm-4">
					<input type="email" class="form-control" id="email" placeholder="Email">
			  	</div>
			</div>
			<div class="form-group">
			  	<label class="control-label col-sm-2" for="pwd">Password:</label>
			  	<div class="col-sm-4">
					<input type="password" class="form-control" id="pwd" placeholder="Password">
			  	</div>
			</div>
			<div class="form-group">
			  	<label class="control-label col-sm-2" for="pwd">Re-type password:</label>
			  	<div class="col-sm-4">
					<input type="password" class="form-control" id="pwd" placeholder="Confirm password">
			  	</div>
			</div>
			<div class="form-group">
			  	<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Register</button>
			  	</div>
			</div>
	  	</form>
	</div>

	<footer>
		<div class="container">
			<hr>

			<p style="font-size:200%">
				<a href="http://facebook.com/"><i class="fa fa-facebook-official"></i></a>
                <a href="http://twitter.com/"><i class="fa fa-twitter-square"></i></a>
                <a href="http://youtube.com/"><i class="fa fa-instagram"></i></a>

			</p>
		</div> <!-- end container -->
	</footer>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
{% endblock %}
